.heading{
    font-size:25px;
    margin-top:0px;
    width:100%;
    }
    .div_play{
    float:left;
    }
    
    .div_Change{
        float:right;
    }
    .note{
    color:black;
    font-size:15px;
    }
    img{
        width:250px;
        border-radius: 125px;
    }
    #Change{
    font-size: 25px;
    margin:15px;
    }
    #play{
    font-size: 25px;
    margin:10px;
    }
    .play{
        font-size: 35px;
        width:130px;
    }
    